body{

}


.cabecalho{
 
display: flex;
justify-content: center;
background-color: black;
margin: 20px;
height: 140px;


}
.texto{
    display: flex;
    background-color: aqua;
    justify-content: center;
    text-transform: uppercase;
    padding: 20px;
    
}

.container {
    display: flex;
    gap: 30px;
    


}
.container .lista{
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
    align-items: center;
    
   
}


.personagens  .lista{
    
    display: flex;
    max-width: 700px;
    padding: 20px;
    


   
}




.lista{
  

       align-items: center;

}

.personagemgrande{
   
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: calc(100vh - 152px);
    justify-content: center;
  
  
     
}
.narutogrande{
    width: 430px;
    height: 430px;
}
.rodape{

display: flex;
flex-direction: column;

}